.logo{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    margin-top: 2rem;
}

.logo_starting{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    width: 60px;
    height: 60px;
    background-color: rgb(66, 66, 245);
    border-radius: 50%;
    color: white;
    border-style: double;
}

.logo_end{
   font-size: xx-large;
}

.header{
    display: flex;
}

.remain_header{
    display: flex;
   margin-left: 20rem;
    margin-top: 3rem;
}

.key_element{
    margin-left: 3rem;
    margin-right: 3rem;
}

.test_element{
    margin-left: 3rem;
    margin-right: 3rem;
}

.login_element{
    margin-left: 7rem;
    margin-right: 2rem;
}