.logo{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.logo_starting{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    width: 60px;
    height: 60px;
    background-color: rgb(66, 66, 245);
    border-radius: 50%;
    color: white;
    border-style: double;
}

.logo_end{
   font-size: xx-large;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.remain_header{
    display: flex;
    align-items: center;
    margin-left: 20rem;
}

.key_element{
    margin-left: 3rem;
    margin-right: 3rem;
}

.test_element{
    margin-left: 3rem;
    margin-right: 3rem;
}

.login_element{
    margin-left: 7rem;
    margin-right: 1rem;
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    border-color: #f1f2f3;
}

.signup_element{
    height: 3rem;
    width: 6rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #7724e4;
    color: white;
}

.leftside{
    margin-left: 5rem;
    width: 50%;
    /* height: 25rem; */
    /* background-color: red; */
}


.promotion_lines{
    font-size: 4rem;
    margin-top: 2rem;
}

.small_pragraph{
    font-weight: 300;
    font-size: large;
    margin-top: -1rem;
}

.main_component{
    display: flex;
    align-items: center;
}

.button_component{
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    background-color: #7724e4;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.first_main_component{
    margin-left: 3rem;
}

.first_heading{
    margin-right: 3rem;
    font-weight: 800;
    color: #4e4c4c;

}

.first_heading_pra{
    margin-left: -0.5rem;
    margin-top: -1rem;
    font-size: 13px;
}

.second_heading{
    margin-right: 4rem;
    font-weight: 800;
    color: #4e4c4c;
}
.second_heading_pra{
    margin-left: -0.6rem;
    margin-top: -1rem;
    font-size: 13px;
}


.third_heading{
    font-weight: 800;
    color: #4e4c4c;
}
.third_heading_pra{
    margin-left: -1.2rem;
    margin-top: -1rem;
    font-size: 13px;
}



.members{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F2F4;
    border-radius: 1rem;
    width: 22rem;
    height: 6rem;
}


.admin_member{
    width: 40px;
}
.admin_pra{
    font-size: 10px;
    margin-left: 0.4rem;
}

.first_member{
    width: 40px;
    margin-left: 1.5rem;
    margin-right: 2rem;
}
.first_member_pra{
    font-size: 10px;
    margin-left: 1.3rem;
}


.second_member{
    width: 40px;
}
.second_member_pra{
    font-size: 10px;
    margin-left: -0.4rem;
}


.third_member{
    width: 40px; 
    margin-left: 1.5rem;
    margin-right: 2rem;
}
.third_member_pra{
    font-size: 10px;
    margin-left: 1.3rem;
}


.fourth_member{
    width: 40px;
}
.fourth_member_pra{
    font-size: 10px;
    margin-left: -0.2rem;

}


.container{
    display: flex;
}


.rightside{
    /* background-color: green; */
    height: 30px;
    width: 50%;
    /* height: 35rem; */
}

.advertising_photo{
    width: 32rem;
}